@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Work Sans", sans-serif;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
::-webkit-scrollbar {
    display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% / 4);
    height: 3px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.4s ease;
}
.tabs-mobile .line-mobile {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% / 4);
    height: 3px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.4s ease;
}
/* Hide scrollbar for IE, Edge and Firefox */

.openHeader {
    animation: openMenu 0.4s ease;
}

@keyframes openMenu {
    from {
        height: 0px;
    }
    to {
        height: 252px;
    }
}

.gradient-banner {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
}
.block-clock {
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
}
